.main-container{
    margin-top: 20px;
    margin-bottom: 30px;
}

/* FORMULARIO */
form{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.1);
}

form:hover{
    box-shadow: 0 8px 20px rgb(46, 46, 46);
    transition: 0.5s;
}


form h3{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: black;   
}

form input[type=text],input[type=email]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

form input:focus{
    border-color: red;
    outline: none; 
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    background-color: #fff;
}

form textarea{
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 120px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

/* CONTADOR DE LETRAS */
#contador {
  font-size: 13px;
  text-align: right;
  color: #555;
  margin-bottom: 10px;
}

form textarea:focus {
    border-color: red;
    outline: none; /* Saca el borde azul por defecto */
    box-shadow: 0 0 5px red;
    background-color: #fff;
}

/* BOTON DE ENVIAR */
button {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: rgb(226, 84, 84);
    transition: 0.5s;
}

/* REDES SOCIALES */
h2{
    text-align: center;
}

.redes-container{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.redes-items{
    border-radius: 30px;
    text-align: center;
    padding: 20px;
}

.redes-items a{
    color: black;
    text-decoration: none;
}

.redes-container i{
    font-size: 50px;
}

.redes-items:hover{
    box-shadow: 0 8px 20px rgb(46, 46, 46);
    transition: 0.5s;
}

.redes-items a:hover{
    color: red;
    transition: 0.5s;
}