/* PIE DE PAGINA */
footer {
    background-color: #b1b1b1;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;  
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.footer-container p{
    color: #000000;
}

.footer-nav li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-nav li a:hover {
    color: #cd0d15;
}
