header {
    font-family: "Krub", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    box-shadow: 0 2px 10px #cd0d15;
    padding: 10px 0;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* LOGO */
.logo {
    width: 250px;
    height: auto;
    display: block;
}

/* NAV */
.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-li {
    border: 2px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease;
}

.nav-li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px 18px;
    font-weight: 500;
    transition: 0.3s ease, color 0.3s ease;
}

.nav-li a:hover {
    background-color: #cd0d15;
    color: #fff;
    border-radius: 15px;
}

