/* CARDS */
.grid-container {
    display: grid;
    gap: 20px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

.grid-equal-columns {
    grid-template-columns: repeat(2,1fr);
}

.grid-item {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.1);
}

.grid-item:hover {
    box-shadow: 0 8px 20px rgb(46, 46, 46);
    transition: 0.5s    ;
}

.grid-item h3 {
    font-weight: 700;
    margin-bottom: 15px;
    color: black;
}

.grid-item img {
    border-radius: 30px;
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* BOTON CARDS */
button {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: rgb(226, 84, 84);
    transition: 0.5s;
}

button a{
    color: white;
    text-decoration: none;
}

