/* CARRUSEL */
.portada{
    display: flex;
    justify-content: center;
    padding: 20px;

}

.carousel{
    width: 70vw !important;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px black;
}

/* CONTENEDOR DE IMG Y TEXTO */
.carousel-caption{
    border-radius: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    margin: auto;
}

.logo-carousel{
        width: 15vw;
}