
/* CARRUSEL */
.portada{
    display: flex;
    justify-content: center;
    padding: 20px;

}

.carousel{
    width: 40vw !important;
    border-radius: 30px;
    box-shadow: 0 4px 10px black;
}

.carousel-item #img-carousel{
    margin: auto;
    width: 100%;
    max-height: 700px;
    border-radius: 30px;
    border-radius: 30px;
}

/* CONTENEDOR DE IMG Y TEXTO */
.carousel-caption{
    border-radius: 30px;
    background-color: rgba(255, 252, 252, 0.7);
    margin: auto;
}

.carousel-caption h5,
.carousel-caption p {   
    color: black;
}
    
.logo-carousel{
        width: 9vw;
}

